<!DOCTYPE html>
<html>
  <head>
    <%- include('../../layout/head') %>
    <link rel="stylesheet" href="/public/styles/layout.css">
  </head>
    <body>
      <%- include('../../layout/header') %>
        <main>
            <form>
              <%- include('../books/detail', {book: book}) %>
            </form>
        </main>
        <%- include('../../layout/footer') %>
    </body>
</html>