<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layout/head') %>
    <link rel="stylesheet" href="public\styles\layout.css">
    <title>Search Results</title>
  </head>
  <body class="container search-results-container">
      <%- include('../../layout/header') %>
    <main class="search-main-container">
      <header class="sub-header">
        <h2 class="sub-heading">Search Results</h1>
      </header>
      <% bookResults.forEach(book => { %>
        <%- include('../books/detail', {book: book}) %>
      <% }) %>
    </main>
    <%- include('../../layout/footer') %>
  </body>
</html>