<section id="app-header" class="app-header">
  <!-- Make sure to change the name of all "nav-menu" classes and ids to "app-header" -->
  <a href="/"><span id="header-text">Best Books!</span></a>
  <div id="menu-icon-container">
    <div id="bar1" class="nav-bar bar1"></div>
    <div id="bar2" class="nav-bar bar2"></div>
    <div id="bar3" class="nav-bar bar3"></div>
  </div>
</section>
